<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>FirstPageManagerServlet</servlet-name>
        <servlet-class>presentation.FirstPageManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstPageManagerServlet</servlet-name>
        <url-pattern>/FirstPageManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageNewCustomerServlet</servlet-name>
        <servlet-class>presentation.CustomerManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageNewCustomerServlet</servlet-name>
        <url-pattern>/ManageNewCustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoanTypeManagerServlet</servlet-name>
        <servlet-class>presentation.LoanTypeManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoanTypeManagerServlet</servlet-name>
        <url-pattern>/LoanTypeManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoanProfileManager</servlet-name>
        <servlet-class>presentation.LoanProfileManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoanProfileManager</servlet-name>
        <url-pattern>/LoanProfileManager</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>

</web-app>
